/* src/App.css */

body {
  font-family: Nunito, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f6f6f6;
}

.app{
  display: flex;
}

.sidebar {
  width: 235px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: fixed;
}

.logo-back{
  cursor: pointer;
    background-image: url(https://app.ecomdash.com/Content/img/Logo_Ecomdash-CTCT-REVISED_August_2020__1_-removebg-preview.png);
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 41px;
    background-repeat: no-repeat;
    margin: 10px 0;
}
.sidebar-logo{
  font-size: 15px;
}
.sidebar-logo h2 {
  margin: 0;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav ul li a {
  color: rgb(69, 69, 69);
  text-decoration: none;
  display: block;
  padding: 11px 20px;
}

#active{
  border-left: 5px solid #0076df;
  border-radius: 3px;
}
#active>a{
  color: #0076df !important;
  padding-left: 15px;
}
.sidebar-footer ul{
  padding: 0;
}

.sidebar-footer ul li a {
  color: rgb(69, 69, 69);
  font-size: 15px;
  text-decoration: none;
  display: block;
  padding: 11px 20px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ecf0f1;
  
}
.content>div{
  margin-left: 235px;
}
.header {
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.header h1 {
  margin-top: 0;
}

.header-buttons .btn-primary, .header-buttons .btn-secondary {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.main-content {
  padding: 20px;
  display: flex;
  gap: 20px;
}

.dashboard-card {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  flex: 1;
}

.footer {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

.btn-signup {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}
